<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.jpg" />
    <script
      src="https://kit.fontawesome.com/445d982738.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BeautyPoint</title>
  </head>
  <body>
    <header>
      <div>
        <a href="#"><img
            src="/images/logo.jpg"
            alt="Imagen logo"
            class="logo"
          /></a>
         
      </div>
    </header>
    <main>
      <form action="/ruta" method="POST" class="login-form">
        <div class="email-login">
          <input
            type="email"
            name="email"
            class="login"
            placeholder="Email"
            required
            maxlength="20"
          />
        </div>
        <div class="password-login">
          <input
            type="password"
            name="password"
            class="login"
            placeholder="Contraseña"
            required
            maxlength="10"
          />
        </div>
        <div>
          <button type="submit" class="button-login">Iniciar Sesión</button>
        </div>
        <div class="auto-login">
          <label for="checkbox-login">Recordar usuario y contraseña</label>
          <input type="checkbox" id="checkbox-login" name="checkbox-login" />
        </div>
        <div>
          <a href="#" class="forgot-password">Olvidaste la contraseña?</a>
        </div>
        <div>
          <a href="#" class="create-account">Crear una cuenta</a>
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
