<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
  <body>
   <%- include('../partials/header.ejs')%>
    <main class="login-main">
      <form action="/login" method="POST" class="form-login">
        <div class="form-element-login">
          <input
            type="email"
            name="email"
            placeholder="Correo electrónico"
            id="email"
            required
            maxlength="40"
          /><span class="feedback"></span>
        </div>

        <div class="form-element-login">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            maxlength="10"
          /><span class="feedback"></span>
        </div>

        <div class="form-element-login">
          <button type="submit" class="form-boton">Iniciar Sesión</button>
        </div>

        <div class="form-element-login">
          <div class="login-remember">
            <label for="checkbox-login" 
              >Recordar usuario y contraseña</label
            >
            <input type="checkbox" id="checkbox-login" name="checkbox-login" />
          </div>
        </div>

        <div class="form-element-login">
          <a href="#" class="login-forgot-password"
            >¿Olvidaste la contraseña?</a
          >
        </div>
        <div class="form-element-login">
          <a href="#" class="login-create-account">Crear una cuenta</a>
        </div>
      </form>
    </main>
<%- include('../partials/footer.ejs')%>
  </body>
</html>
