<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" />
    <script
      src="https://kit.fontawesome.com/445d982738.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BeautyPoint-register</title>
  </head>
  <body>
   <header class="header">
      <div class="header-elements">
        <section>
          <div>
            <a href="/"
              ><img
                src="/images/logo_transparent.png"
                alt="Imagen logo"
                class="logo"
            /></a>
          </div>
          <div>
            <a href="#" class="header-hamburguer-button">
              <i class="fas fa-bars"></i
            ></a>
          </div>
          <div class="header-cart">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </section>
      </div>
      <div class="header-elements">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="search" placeholder="Encontrá eso que querés" size="35" />
      </div>
      <nav class="header-elements">
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-solid fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fa-solid fa-door-open"></i></a>
          </li>
          <li>
            <a href="#">Mi cuenta <i class="fa-solid fa-circle-user"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="register-main">
      <form action="/registro" method="POST" class="form-register">
        <h1>Crear cuenta</h1>

        <div class="form-element">
          <label for="first_name">Nombre:</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            placeholder="Ingresá tu nombre"
            required
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="last_name">Apellido:</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Ingresá tu apellido"
            required
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="dni">DNI:</label>
          <input
            type="number"
            name="dni"
            id="dni"
            placeholder="Ingresá tu DNI (sin puntos. Ej. 12345678)"
            required
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="email">E-mail:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Ingresá tu correo"
            required
          /><span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="phone">Celular:</label>
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder="Ingresá tu celular (sólo números)"
            required
          /><span class="feedback"></span>
        </div>

        <div class="form-element">
          <div>
            <label>Género:</label>
          </div>

          <div>
            <input type="radio" name="genere" value="Femenino" id="Femenino" />
            <label for="Femenino" id="label-radiobutton">Femenino</label>

            <input
              type="radio"
              name="genere"
              value="Masculino"
              id="Masculino"
            />
            <label for="Masculino" id="label-radiobutton">Masculino</label>

            <input type="radio" name="genere" value="Otro" id="Otro" />
            <label for="Otro" id="label-radiobutton">Otro</label>
          </div>
        </div>

        <div class="form-element">
          <label for="birthDate">Fecha de nacimiento:</label>
          <input type="date" class="form-element-input" id="birthDate" />
        </div>

        <div class="form-element">
          <label for="image">Foto de perfil:</label>
          <input type="file" name="image" id="image" accept=".jpg, .png" />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Elegí una contraseña"
            required
          /><span class="feedback"></span>
        </div>
        <div class="form-element">
          <label for="repeatPassword">Repetir contraseña:</label>
          <input
            type="password"
            name="repeatPassword"
            id="repeatPassword"
            placeholder="Repetí tu contraseña"
            required
          /><span class="feedback"></span>
        </div>

        <div class="form-element">
          <div class="form-botonera">
            <button type="submit" value="REGISTRAR" class="form-boton">
              Crear cuenta
            </button>

            <button type="reset" value="LIMPIAR" class="form-boton">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </main>
     <div class="footer-father">
    <footer class="footer">
      <div class="footer-elements">
        <a href="#"><img src="/images/logo_transparent.png" alt="Imagen logo" class="logo-footer" /></a>
      </div>
      <div class="footer-elements">
        <h4>Sobre Nosotros</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="footer-elements footer-redes-sociales">
        <h4>Seguinos</h4>
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footer-elements">
        <h4><i class="fa-solid fa-copyright"></i> 2022 <b>BeautyPoint</b></h4>
        Todos los derechos Reservados
      </div>
    </footer>
  </div>
  </body>
</html>
