* {
  box-sizing: border-box;
}

.logo {
  width: 35vw;
  animation: aumentar 1000ms linear 2 alternate;
  display: block;
  margin: 0 auto;
}

.logo-footer {
  width: 20vw;
  margin: 0;
}

@keyframes aumentar {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

/* .button-login {
  background-color: black;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
} */

/* .auto-login {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* div label {
  padding-right: 10px;
} */

/* .loguin {
  width: 100%;
  padding: 8px 8px;
} */

/* form div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  font-size: medium;
} */

/* .subcontainer {
  display: flex;
  flex-direction: column;
} */

input:invalid:required {
  border: solid 2px red;
}

input:valid:required {
  background-color: white;
}

.login-forgot-password,
.login-create-account {
  text-decoration: none;
}

.login-remember {
  position: relative;
  left: 20vw;
  text-align: center;
}

/* Estilos para formularios de login.html y registro.html */
.form-login,
.form-register {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.form-element {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-element-login {
  /* border: dotted 2px red; */
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-element-login input {
  width: 100%;
}

/* #checkbox-login */

.form-register h1 {
  font-weight: 200;
  font-size: 30px;
  text-align: center;
}

.form-element label {
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#label-radiobutton {
  font-size: 15px;
  margin-top: 10px;
}

.form-botonera {
  width: 100%;
  padding: 8px 8px;
  display: flex;
  justify-content: space-around;
}

.form-boton {
  background-color: #3cc3b2;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  width: 50%;
}

/*Header*/
.header {
  /* position: fixed; */
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  background-color: LightCyan;
}

.header-elements ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.header-elements a {
  text-decoration: none;
  color: #222222;
}

.home {
  margin-top: 150px;
  margin-bottom: 150px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.home-elements a,
select {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.home-elements select {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.images {
  max-width: 230px;
  margin: auto;
  padding: 15px;
}
.container-menu {
  position: relative;
}
.menu nav ul li {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  opacity: 0;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu nav ul:hover li {
  opacity: 1;
}

/*Footer*/
.footer-father {
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.footer-elements {
  text-align: center;
  padding: 10px;
}

.footer-redes-sociales {
  text-decoration: none;
}

@media (min-width: 481px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}

.carrito-HeaderCompras {
  color: rgba(0, 0, 0, 0.55);
}
.carrito-Trash {
  color: rgba(75, 75, 75, 0.55);
}
.carrito-Row {
  display: flex;
  justify-content: center;
}
.carrito-Row .carrito-Column {
  width: 20%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carrito-Row :first-child {
  width: 60%;
  text-align: left;
}
.carrito-ProductImage {
  width: 30%;
  height: 50%;
}
