 <div class="footer-father">
      <footer class="footer">
        <div class="footer-elements">
          <a href="#"
            ><img
              src="/images/logo_transparent.png"
              alt="Imagen logo"
              class="logo-footer"
          /></a>
        </div>
        <div class="footer-elements">
          <h4>Sobre Nosotros</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="footer-elements footer-redes-sociales">
          <h4>Seguinos</h4>
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footer-elements">
          <h4><i class="fa-solid fa-copyright"></i> 2022 <b>BeautyPoint</b></h4>
          Todos los derechos Reservados
        </div>
      </footer>
    </div>