<!--Encabezado vigente-->
<header class="header">
      <div class="header-elements">
        <section>
          <div class="header-elements-ang">
            <a href="/"
              ><img
                src="/images/logo_transparent.png"
                alt="Imagen logo"
                class="logo"
            /></a>
          </div>
          <!--<a href="#" class="header-hamburguer-button">
              <i class="fas fa-bars"></i
            ></a>-->
          <div class="respmenu">
            <input type="checkbox" />
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
            <nav>
              <ul>
                <li>
                  <a href="/users/register"
                    >Creá tu cuenta <i class="fa-solid fa-id-card"></i
                  ></a>
                </li>
                <li>
                  <a href="/users/login"
                    >Ingresá <i class="fa-solid fa-door-open"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    >Mi cuenta <i class="fa-solid fa-circle-user"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="header-cart header-elements-ang">
            <a href="/products/productCart"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </div>
        </section>
      </div>
      <div class="header-elements">
        <div class="input-father">
          <input
            type="search"
            placeholder="Encontrá eso que querés"
            class="input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="input-icon"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <!--<nav class="header-elements">
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-solid fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fa-solid fa-door-open"></i></a>
          </li>
          <li>
            <a href="#">Mi cuenta <i class="fa-solid fa-circle-user"></i></a>
          </li>
        </ul>
      </nav>-->
    </header>

<!--Primer Estilo de encabezado

<header class="header">
      <div class="header-elements">
        <section>
          <div>
            <a href="/"
              ><img
                src="/images/logo_transparent.png"
                alt="Imagen logo"
                class="logo"
            /></a>
          </div>
          <div>
            <a href="#" class="header-hamburguer-button">
              <i class="fas fa-bars"></i
            ></a>
          </div>
          <div class="header-cart">
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </section>
      </div>
      <div class="header-elements">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="search" placeholder="Encontrá eso que querés" size="35" />
      </div>
      <nav class="header-elements">
        <ul>
          <li>
            <a href="/users/register"
              >Creá tu cuenta <i class="fa-solid fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/users/login">Ingresá <i class="fa-solid fa-door-open"></i></a>
          </li>
          <li>
            <a href="#">Mi cuenta <i class="fa-solid fa-circle-user"></i></a>
          </li>
        </ul>
      </nav>
    </header>-->