<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: "Creando " })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="register-main">
      <form
        action="/products/create/"
        method="POST"
        class="form-register"
        enctype="multipart/form-data"
      >
        <h1>Crear producto</h1>
        <div class="form-element">
          <label for="product_name">Nombre de producto:</label>
          <input
            type="text"
            id="product_name"
            name="name"
            placeholder="Ingresá el título del producto"
         
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="product_price">Precio:</label>
          <input
            type="number"
            name="price"
            id="product_price"
            placeholder="Ingresá el precio del producto"
        
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="product_description">Descripción del producto:</label>
          <textarea
            name="description"
            id="product_description"
            cols="30"
            rows="10"
            placeholder="Ingresá la presentación del producto"
   
          ></textarea>
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="product_package">Package:</label>
          <input
            type="text"
            id="product_package"
            name="package"
            placeholder="Ingresá el package del producto"
  
          />
          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <label for="image">Imagen Producto:</label>
          <input type="file" id="image" name="image" accept=".jpg, .png"  />
        </div>

        <div class="form-element">
          <label for="product_category">Categoría:</label>

          <select name="category" id="product_category" >
            <option value="categoria-1">Cuidados básicos</option>
            <option value="categoria-2">Antiage</option>
            <option value="categoria-3">Solares</option>
            <option value="categoria-4">Maquillaje</option>
          </select>

          <span class="feedback"></span>
        </div>

        <div class="form-element">
          <div class="form-botonera">
            <button type="submit" value="product_create" class="form-boton">
              Crear producto
            </button>

            <button type="reset" value="cancelar" class="form-boton">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
