<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

<body>
<%- include('../partials/header.ejs')%>
  <main class="cart-main">
    <table class="productCart-table">
      <thead>

        <tr class="carrito-HeaderCompras carrito-Row">
          <td class="carrito-Column First"> <span>Producto</span></td>
          <td class="carrito-Column"> <span>Cantidad</span></td>
          <td class="carrito-Column"><span>Valor</span></td>
          <td class="carrito-Column"> <span>Total</span></td>
          <td class="carrito-Column"></td>
        </tr>
      </thead>
      <tbody>
        <tr class="carrito-Row carrito-BodyCompras">
          <td class="carrito-Column First "><img class="carrito-ProductImage"
              src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png">
            <h5>True Match Tinted
              Serum de L'Oréal</h5>
          </td>
          <td class="carrito-Column">
            <span><button>-</button> 1 <button>+</button></span>
          </td>
          <td class="carrito-Column">
            <span>1000$</span>
          </td>
          <td class="carrito-Column">
            <span>10000$</span>
          </td>
          <td class="carrito-Column carrito-Trash">
            <button> <i class="fa-solid fa-trash-can"></i></button>
          </td>

        </tr>
        <tr class="carrito-Row carrito-BodyCompras">
          <td class="carrito-Column First"><img class="carrito-ProductImage"
              src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png">
            <h5>True Match Tinted
              Serum de L'Oréal</h5>
          </td>
          <td class="carrito-Column">
            <span><button>-</button> 1 <button>+</button></span>
          </td>
          <td class="carrito-Column">
            <span>2000$</span>
          </td>
          <td class="carrito-Column">
            <span>20000$</span>
          </td>
          <td class="carrito-Column carrito-Trash">
            <button> <i class="fa-solid fa-trash-can"></i></button>
          </td>

        </tr>
        <tr class="carrito-Row carrito-BodyCompras">
          <td class="carrito-Column First"><img class="carrito-ProductImage"
              src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png">
            <h5>True Match Tinted
              Serum de L'Oréal</h5>
          </td>
          <td class="carrito-Column">
            <span><button>-</button> 1 <button>+</button></span>
          </td>
          <td class="carrito-Column">
            <span>3000$</span>
          </td>
          <td class="carrito-Column">
            <span>30000$</span>
          </td>
          <td class="carrito-Column carrito-Trash">
            <button> <i class="fa-solid fa-trash-can"></i></button>
          </td>

        </tr>
      </tbody>
    </table>
  </main>
<%- include('../partials/footer.ejs')%>
</body>

</html>