<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/header.ejs')%>
  <main class="product-main">
    <h3>Sérum demaquillante de ojos y labios</h3>
    <section class="product-section">
      <article class="product-article">
        <img src="/images/products/serumDemaq.png" alt="Serum Demaquillante" />
        <h3>$ 2330</h3>
      </article>
      <article class="product-article">
        <!--Descripción-->
        <p>
          Sérum siliconado que retira facilmente maquillaje waterproof. Es
          totalmente oil free.
        </p>
        <!--Presentanción-->
        <div>70 ml</div>
        <!--Línea-->
        <div>Cuidados Básicos</div>
        <div class="product-cart">
                      <button type="submit" value="sumarAlCarrito" class="product-cart-button">
              Agregar al carrito
            </button>
            <input type="number" size="1" />
                </article>
    </section>
      </main>
<%- include('../partials/footer.ejs')%>
</body>

</html>