<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
<%- include('../partials/header.ejs')%>
  <main class="cart-main">
    <div class="carrito-HeaderCompras carrito-Row">
      <div class="carrito-Column"> <span>Producto</span></div>
      <div class="carrito-Column"> <span>Cantidad</span></div>
      <div class="carrito-Column"><span>Valor</span></div>
      <div class="carrito-Column"> <span>Total</span></div>
      <div class="carrito-Column"></div>

    </div>
    <div class="carrito-Row carrito-BodyCompras">
      <div class="carrito-Column"><img class="carrito-ProductImage"
          src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png"><span>True Match Tinted
          Serum de L'Oréal</span> </div>
      <div class="carrito-Column">
        <span>- 1 +</span>
      </div>
      <div class="carrito-Column">
        <span>1000$</span>
      </div>
      <div class="carrito-Column">
        <span>10000$</span>
      </div>
      <div class="carrito-Column carrito-Trash">
        <i class="fa-solid fa-trash-can"></i>
      </div>

    </div>
    <div class="carrito-Row carrito-BodyCompras">
      <div class="carrito-Column"><img class="carrito-ProductImage"
          src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png"><span>True Match Tinted
          Serum de L'Oréal</span> </div>
      <div class="carrito-Column">
        <span>- 1 +</span>
      </div>
      <div class="carrito-Column">
        <span>2000$</span>
      </div>
      <div class="carrito-Column">
        <span>20000$</span>
      </div>
      <div class="carrito-Column carrito-Trash">
        <i class="fa-solid fa-trash-can"></i>
      </div>
    </div>
    <div class="carrito-Row carrito-BodyCompras">
      <div class="carrito-Column"><img class="carrito-ProductImage"
          src="/images/D_NQ_NP_633251-MLA44725737706_012021-V.png"><span>True Match Tinted
          Serum de L'Oréal</span> </div>
      <div class="carrito-Column">
        <span>- 1 +</span>
      </div>
      <div class="carrito-Column">
        <span>3000$</span>
      </div>
      <div class="carrito-Column">
        <span>30000$</span>
      </div>
      <div class="carrito-Column carrito-Trash">
        <i class="fa-solid fa-trash-can"></i>
      </div>
    </div>
  </main>
<%- include('../partials/footer.ejs')%>
</body>

</html>