<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
  <body>
    <%- include('partials/header.ejs')%>
    <main class="home-main">
      <div class="home-banners">
        <img src="/images/products/rostro.png" alt="rostro de mujer" />
        <h2><a href="#">Cuidados Básicos</a></h2>
      </div>
      <section class="home-section">
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/serumDemaq.png"
              alt=""
              class="home-images"
          /></a>
          <div>Sérum Demaquillante</div>
          <div>$ 2200</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/cremaLimpieza.png"
              alt=""
              class="home-images"
          /></a>
          <div>Crema de Limpieza</div>
          <div>$ 3500</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/dermopulidoGel.png"
              alt=""
              class="home-images"
          /></a>
          <div>Dermopulido Gel</div>
          <div>$ 3100</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/lecheLimpieza.png"
              alt=""
              class="home-images"
          /></a>
          <div>Leche de Limpieza</div>
          <div>$ 2900</div>
        </article>
      </section>
      <div class="home-banners">
        <img src="/images/products/maquillajes.png" alt="rostro de mujer" />
        <h2><a href="#">Maquillajes</a></h2>
      </div>
      <section class="home-section">
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/IluminadorTonalizador.png"
              alt=""
              class="home-images"
          /></a>
          <div>Sérum Demaquillante</div>
          <div>$ 2200</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/neblinaFijadora.png"
              alt=""
              class="home-images"
          /></a>
          <div>Crema de Limpieza</div>
          <div>$ 3500</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/paletaCromatica.png"
              alt=""
              class="home-images"
          /></a>
          <div>Dermopulido Gel</div>
          <div>$ 3100</div>
        </article>
        <article class="home-products">
          <a href="/products/productDetail"
            ><img
              src="/images/products/PrebasePrimeLuminous.png"
              alt=""
              class="home-images"
          /></a>
          <div>Leche de Limpieza</div>
          <div>$ 2900</div>
        </article>
      </section>
    </main>
   <%- include('partials/footer.ejs')%>
  </body>
</html>
