<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" />
    <script
      src="https://kit.fontawesome.com/445d982738.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BeautyPoint-login</title>
  </head>
  <body>
    <header>
      <div>
        <a href="/"
          ><img
            src="/images/logo_transparent.png"
            alt="Imagen logo"
            class="logo"
        /></a>
      </div>
    </header>
    <main>
      <form action="/login" method="POST" class="form-login">
        <div class="form-element-login">
          <input
            type="email"
            name="email"
            placeholder="Correo electrónico"
            id="email"
            required
            maxlength="40"
          />
        </div>

        <div class="form-element-login">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            maxlength="10"
          />
        </div>

        <div class="form-element-login">
          <button type="submit" class="form-boton">Iniciar Sesión</button>
        </div>

        <div class="form-element-login">
          <label for="checkbox-login" class="login-remember">Recordar usuario y contraseña</label>
          <input type="checkbox" id="checkbox-login" name="checkbox-login" />
        </div>

        <div class="form-element-login">
          <a href="#" class="login-forgot-password">¿Olvidaste la contraseña?</a>
        </div>
        <div class="form-element-login">
          <a href="#" class="login-create-account">Crear una cuenta</a>
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
